
<!--第一页 基本信息-->
<div class="container container-block add_container">
    <div><h4>基本信息</h4>
        <hr>
    </div>
    <div class="form-horizontal col-md-8">
        <!--a list-->
        <div class="form-group">
            <label class="col-md-2 control-label">开发者：</label>

            <div class="col-md-2">
                <select class="form-control" ng-model="AddData.username"
                        ng-options="user.username as user.username for user in gData.userlist">
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model="AddData.status"
                        ng-options="s as s for s in ['已上线','未上线']">
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control" ng-model="AddData.public"
                        ng-options="s.v as s.l for s in gData.auth">
                </select>
            </div>
        </div>
        <!--a list-->
        <div class="form-group">
            <label class="col-md-2 control-label">应用名：</label>

            <div class="col-md-7">
                <input type="text" class="form-control" placeholder="4-32字" ng-model="AddData.title" ng-minlength="4"
                       ng-maxlength="32" name="name" required="">
            </div>
            <div ng-show="userForm.name.$dirty && userForm.name.$invalid">
                <div class="col-md-2 invalid" ng-show="userForm.name.$error.required">
                    <x class="fa fa-close"><span>内容不能为空</span></x>
                </div>
                <div class="col-md-2 invalid" ng-show="userForm.name.$error.minlength">
                    <x class="fa fa-close"><span>最小长度为4字节</span></x>
                </div>
                <div class="col-md-2 invalid" ng-show="userForm.name.$error.maxlength">
                    <x class="fa fa-close"><span>最大长度为32字节</span></x>
                </div>
            </div>
            <div class="col-md-2 checked" ng-show="userForm.name.$dirty && userForm.name.$valid">
                <x class="fa fa-check-circle"><span>正确</span></x>
            </div>
        </div>
        <!--a list-->
        <div class="form-group">
            <label class="col-md-2 control-label">存储位置：</label>

            <div class="col-md-7">
                <input type="text" class="form-control" placeholder="ds1-2.db15.000001-SZ" ng-model="AddData.store_pos"
                       ng-minlength="4"
                       ng-maxlength="32" name="xmname"
                       ng-pattern="/^[a-zA-Z0-9_-]{1,}\.[a-zA-Z0-9_-]{1,}\.[a-zA-Z0-9_-]{1,}$/">
            </div>
            <div ng-show="userForm.xmname.$dirty && userForm.xmname.$invalid">
                <div class="col-md-2 invalid" ng-show="userForm.xmname.$error.required">
                    <x class="fa fa-close"><span>内容不能为空</span></x>
                </div>
                <div class="col-md-2 invalid" ng-show="userForm.xmname.$error.minlength">
                    <x class="fa fa-close"><span>最小长度为4字节</span></x>
                </div>
                <div class="col-md-2 invalid" ng-show="userForm.xmname.$error.maxlength">
                    <x class="fa fa-close"><span>最大长度为32字节</span></x>
                </div>
                <div class="col-md-2 invalid" ng-show="userForm.xmname.$error.pattern">
                    <x class="fa fa-close"><span>注意格式</span></x>
                </div>
            </div>
            <div class="col-md-2 checked" ng-show="userForm.xmname.$dirty && userForm.xmname.$valid">
                <x class="fa fa-check-circle"><span>正确</span></x>
            </div>
        </div>
        <!--a list-->
        <div class="form-group">
            <label class="col-md-2 control-label">应用介绍：</label>

            <div class="col-md-8">
                        <textarea class="form-control" placeholder="10-1024字"
                                  ng-model="AddData.description" ng-minlength="10" ng-maxlength="1024"
                                  name="description" required></textarea>
            </div>
            <div ng-show="userForm.description.$dirty && userForm.description.$invalid">
                <div class="col-md-2 invalid" ng-show="userForm.description.$error.required">
                    <x class="fa fa-close"><span>内容不能为空</span></x>
                </div>
                <div class="col-md-2 invalid" ng-show="userForm.description.$error.minlength">
                    <x class="fa fa-close"><span>最小长度为10字节</span></x>
                </div>
                <div class="col-md-2 invalid" ng-show="userForm.description.$error.maxlength">
                    <x class="fa fa-close"><span>最大长度为1024字节</span></x>
                </div>
            </div>
            <div class="col-md-2 checked" ng-show="userForm.description.$dirty && userForm.description.$valid">
                <x class="fa fa-check-circle"><span>正确</span></x>
            </div>
        </div>
        <!--a list-->
        <div class="form-group">
            <label class="col-md-2 control-label">投资领域：</label>

            <div class="col-md-10">
                <div class="checkbox">
                    <label ng-repeat="invest in invests">
                        <input type="checkbox" ng-model="invest.check">{{invest.data}}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4" style="margin-top: 40px;">
        <div class="photoup" style="background: url({{AddData.image}}) no-repeat center;"
             ng-class="{'hasphoto':AddData.image!=''}">
            <span ng-class="{'hasphoto1':AddData.image!=''}"><label>上传照片</label></span>
            <input type="file" nv-file-select uploader="uploader" accept="image/jpeg,image/png,image/gif,image/bmp"/>
        </div>
    </div>
</div>
